<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Movie Search</title>
  <link rel="stylesheet" href="/css/style.css">
<body>
<% if (err) { %>
  <%= err %>
  <br>
  Go back <a href="/">Home</a>
<% } else { %>
  <% if (isLoggedIn) { %>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/watchlist">Watchlist</a>
      <a href="/account">Account</a>
      <a href="/logout">Logout</a>
    </div>
  <% } else { %>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/watchlist">Watchlist</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  <% } %>

  <h1>Movie Search</h1>

  <div class="search">
    <form action="/search" method="GET">
      <input type="text" name="query" placeholder="Search for a movie...">
      <button type="submit">Search</button>
    </form>
  </div>
      <% if (query == "") { %>
         Enter a movie to get started
         <% } else { %>
          <%= results.length %> Results found
          <br>
          <table border="1">
          <div class="header">
          <tr>
          <th>#</th>
          <th>Poster (Click on the posters to find out more!)</th>
          <th>Title</th>
          <th>Rating</th>
          <th>Release Date</th>
          </tr>
          </div>
          
          <div class="result">
          <% for (let i = 0; i < results.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><a href="/movie-reviews/<%= results[i].id %>" style="text-decoration: none; color: inherit;"><img src="<%= results[i]['poster'] %>" width="80" alt="<%= results[i]['title']%>"/></a></td>
            <td><%= results[i]['title'] %></td>

            <td><% if (results[i]['rating']== null){ %>
                No Ratings Yet
              <% } else {%>
                <%= results[i]['rating'] %>
              <% } %> </td>
            <td><% if (results[i]['releaseDate']==""){ %>
                No Information
              <% } else {%>
                <%= results[i]['releaseDate'] %>
              <% } %> </td>
          </tr>
          <% } %>
          </div>
        </table>
        <% } %>
        <br> 

<div class="History">
      <% if (isLoggedIn && (history.length >0)) { %>
        <form action="/history-clear" method="post">
        <button type="submit">Clear History</button>
        </form>
      <br>
      <table border="1">
      <tr>
        <th>Query</th>
        <th>Titles</th>
        <th>Number of Results</th>
        <th>Searched at</th>
      </tr>
      <% for (let obj of history) { %>
      <tr>
        <td><%= obj["query"] %></td>
        <td>
          <table border="0">
            <% for (let movie of obj["results"]) { %>
              <tr>
                <td><a href="/movie-reviews/<%= movie.id %>"><%= movie["title"] %></a></td>
              </tr>
            <% } %>
          </table>
        </td>
        <td><%= obj["resultCount"] %></td>
        <td><%= obj["searchedAt"] %></td>
      </tr>
      <% } %>
  </table>
      <% } %>
    </div>
  <% } %>
</body>
</html>
