<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="topnav">
            
      <a class="active" href="/">Home</a>
      <a href="../routes/login-routes.js">User Account</a>
      <a href="/watchlist">Watchlist</a>
      <a href="../routes/home-routes.js">Logout</a>
    </div>
    <h1>My Watchlist</h1>
    <% if (msg) { %>
    <p><%= msg %></p>
    <% } %>
    <% if (watchList.length === 0) { %>
    <h2>No movies added to watchlist yet.</h2>
    <% } else { %>
    <table border="1">
        <tr>
            <th>Movie</th>
            <th>Rating</th>
            <th>Added</th>
            <th>Watched</th>
            <th>Actions</th>
        </tr>
        <% for (let movie of watchList) { %>
        <tr>
            <td><a href="/movie-reviews/<%=movie.movieId %>"><%=movie.movieName %></a></td>
            <td>★ <%=movie.rating %></td>
            <td><%=movie.dateAdded.toISOString().split('T')[0]%></td>
            <!-- If movie has not been watched, don't display a tick symbol -->
            <% if (!movie.hasWatched) { %>
            <td>No</td>
            <!-- Else, display a tick symbol -->
            <% } else { %>
            <td>✔ Yes</td>
            <% } %>
            <td>
                <!--If movie has not been watched yet, display the "Mark Watched" button to allow user to mark movie as watched-->
                <% if (!movie.hasWatched) { %>
                <form action="/watchlist/markWatched" method="post">
                <input type="hidden" name="movie" value="<%=movie.movieName%>">
                <button type="submit">Mark Watched</button>
                <br>
                <br>
                </form>
                <!-- Else, just display the Remove button to allow user to remove movie from watchlist-->
                <% } else { %>
                <form action="/watchlist/markUnwatched" method="post">
                <input type="hidden" name="movie" value="<%=movie.movieName%>">
                <button type="submit">Mark Unwatched</button>
                <br>
                <br>
                </form>
                <% } %>
                <form action="/watchlist/removeMovie" method="post">
                <input type="hidden" name="movie" value="<%=movie.movieName%>">
                <button type="submit">Remove</button>
                </form>
                <!-- -->
            </td>
        </tr>
        <% } %>
        <% } %>
    </table>
    <br>
    <a href="/"><button type="button">Browse Movies</button></a>  
</body>
</html>